<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhiliao.mapper.ArticleMapper">
    <insert id="insertArticle" parameterType="edu.zhiliao.entity.Article">
        insert into article(id, uid, text, agree, comment, createDate, tag)
            values(#{id}, #{uid}, #{text}, #{agree}, #{comment}, #{createDate}, #{tag})
    </insert>

    <update id="createArticleCommentTable">
        create table #{articleId}_article_comment(id int(20) auto_increment primary key, uid int(20), content varchar(200), agree int(20), toWho int(20), createDate date)
    </update>

    <delete id="deleteArticle" parameterType="edu.zhiliao.entity.Article">
        delete from article where id=#{id}
    </delete>

    <update id="updateArticle" parameterType="edu.zhiliao.entity.Article">
        update article set uid=#{uid}, text=#{text}, agree=#{agree}, comment=#{comment}, createDate=#{createDate}, tag=#{tag}
        where id=#{id}
    </update>

    <select id="searchArticleByUid" resultType="edu.zhiliao.entity.Article">
        select * from article where uid=#{uid}
    </select>

    <select id="searchArticleByTag" resultType="edu.zhiliao.entity.Article">
        select * from article
        <where>
            <if test="tag !=null and tag !=''">
                and tag like concat('%', #{tag}, '%')
            </if>
        </where>
    </select>

    <select id="getAllArticle" resultType="edu.zhiliao.entity.Article">
        select * from article
    </select>

    <select id="searchArticleById" resultType="edu.zhiliao.entity.Article">
        select * from article where id=#{id}
    </select>

    <select id="searchArticleByContentAndUid" parameterType="edu.zhiliao.entity.Article" resultType="edu.zhiliao.entity.Article">
        select * from article where uid=#{uid} and text=#{text}
    </select>
</mapper>