/*用户回答的 赞同评论收藏*/
.agree2{
    font-size: 0.86rem!important;
    line-height: 1!important;
    padding: .320rem .35rem!important;
}
.container-footer2{
    display: flex;
}
.footer-comment2{
    color: #6c757d;
    font-weight: 400;
    font-family: Arial;
    font-size: 14px;
    margin-left: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.footer-star2{
    color: #6c757d;
    font-weight: 400;
    font-family: Arial;
    font-size: 14px;
    margin-left: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.footer-icon2{
    width: 25px;
    height: 25px;
}
