/*右侧卡片*/
.sideCard{
    height: 90px!important;
}
.SideBar{
    display: flex;
    align-items: center;
}
#area-question{
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#area-article{
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}