.question-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.question-area{
    width: 800px
}
.question-card{
    border-radius: .55rem!important;
    margin-top: 7px;
}
.question-card-body{
    padding: .8rem;
}
p{
    margin-bottom: 0!important;
}
.question-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.question-content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.question-card-body a{
    color: inherit;
}
.question-card-body a:hover{
    text-decoration-line: none;
}